import { SvgChart } from 'd3kit';
import { scaleLinear, scaleOrdinal, schemeCategory10 } from 'd3-scale';
import { extent } from 'd3-array';
const DEFAULT_OPTIONS = {
  margin: {top: 60, right: 60, bottom: 60, left: 60},
  initialWidth: 800, initialHeight: 460
};
class SvgBubbleChart extends SvgChart {
  static getCustomEventNames() { return ['bubbleClick']; }
  constructor(selector, options) {
    super(selector, DEFAULT_OPTIONS, options);
    // Add custom variables
    this.xScale = scaleLinear();
    this.yScale = scaleLinear();
    this.color = scaleOrdinal(schemeCategory10);
    // Add basic event listeners
    this.visualize = this.visualize.bind(this);
    this.on('data.default', this.visualize);
    this.on('resize.default', this.visualize);
  }
  // You can define a new function for this class.
  visualize() { /* next slide */ }
}
SvgBubbleChart.DEFAULT_OPTIONS = DEFAULT_OPTIONS;
export default SvgBubbleChart;